@media only screen and (min-width: 788px) and (max-width: 979px) {
  
  .qualidade img{
    width: 490px;
  }

  .qualidade {
    padding:  30px 0;
  }

  .qualidade_lista li {
    padding: 0 10px;
    margin-bottom: 20px;
  }

  .valores {
    margin-left: 50px;
  }

  .lista-de-valores {
    width: 260px;
    line-height: 20px;
  }

  .img-equipe {
    height: 100%;
  }


  .informacao_produtos {
    height: 223px;
  }

  .informacao_produtos p {
    font-size: 14px;
    line-height: 20px;
    padding: 15px 10px;
  }

  .informacao_produtos .quadrangular {
    height: 93px;
  }

  ul li.item {
    width: 182px;
  }

  .informacao_produtos .quadrangular img {
    position: relative;
    left: 0px;
    top: -73px;
    z-index: 1;
  }



}

/* Estilo para smartphone */

@media only screen and (max-width: 787px) {

  .header {
   position: relative;
  }

  .header img{
    margin: 0 auto;
    margin-bottom: 10px;
  }  

  .header_menu {
    text-align: center;
  }

  .header_menu ul li {
    margin-left: 0;
    margin-top: 0px;
  }
  .header_menu ul li a {
    color: #000;
    border: 4px solid #000;
    width: 140px;
    display: block;
    float: left;
  }

  .header_menu ul li a:hover {
    border-color: #fff;
  }

  .introducao {
    margin-top: 0;
    padding-top: 20px;
    height: 380px;
  }

  .produtos_icone {
    padding: 10px;
  }

  .produtos_lista li p {
    padding-bottom: 20px;
  }

  .introducao-interna {
    margin-top: 0;
  }

  #foto_passeio {
    margin-top: 20px;
  }

  .qualidade img {
    margin: 40px auto 40px auto;
  }

  .qualidade_lista li {
    margin-bottom: 20px;
  } 

  .footer {
    height: fit-content;
  }

  .valores {
    margin: 20px 0;
  }

  .img-equipe {
    height: 100%;
  }

  /* Produtos */

  .icone {
    height: fit-content;
    margin: 0;
  }

  .ilustracao {
    display: none;
  }

  ul li.item {
    width: 180px;
    padding: 8px 0;
    border: solid 1px #000;
  }

  .informacao_produtos .quadrangular {
    height: fit-content;
  }

  .informacao_produtos .quadrangular img {
    display: none;
  }

  .produto {
    margin-bottom: 40px;
  }

  .formulario input {
    width: 100%;
  }

  .orcamento {
    height: fit-content;
  }

  .orcamento_contato {
    padding-top: 20px;
  }

  .orcamento_contato {
    padding-bottom: 20px;
  }
    
} 